<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Remote Desktop Connection</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rdp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>RDCdoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft RDC settings file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RDP </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Remote Desktop Connection</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1.0 (100825), © 2010 Microsoft Corporation. All rights reserved.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Remote Desktop Connection Help</string>
	<key>CFBundleIconFile</key>
	<string>RDC.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.rdc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RDC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>MSRD</string>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>MicrosoftBuildNumber</key>
	<string>100825</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010 Microsoft Corporation. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>RDCApp</string>
</dict>
</plist>
