<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>mbuinstrument</string>
	<key>CFBundleExecutable</key>
	<string>mbuinstrument</string>
	<key>CFBundleGetInfoString</key>
	<string>14.0.0 (100825), © 2010 Microsoft Corporation. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.mbuinstrument_framework</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mbuinstrument</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>14.0.0</string>
	<key>CFBundleSignature</key>
	<string>MIns</string>
	<key>CFBundleVersion</key>
	<string>14.0.0</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>MicrosoftBuildNumber</key>
	<string>100825</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010 Microsoft Corporation. All rights reserved.</string>
</dict>
</plist>
